h1 {
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    -webkit-text-stroke: 0.05vh black;
    text-shadow: 0.3vh 0.3vh black;
    margin: 0 5vw 50px;

    span {
        padding: 5px 0;
        font-size: 4vh;
    }

    span#dash {
        line-height: 0;
        font-size: 7vh;
    }
}